/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.layout{ width: 998px; margin: 0 auto; }
.bg-white{ background: #fff; }
/*map css*/
.header_top{
	width: 100%;
	height: 30px;
	background: #051c3f;
}
.map_header{
	height: 100px;
}
.smm_logo, .map_title{
	float: left;
}
.smm_logo{
	margin-top: 31px;
}
.map_title{
	border-left: 1px solid #cccccc;
	margin-top: 35px;
	margin-left: 15px;
}
.map_title span{
	display: inline-block;
	font-size: 24px;
	padding: 5px 10px;
}
.nav_map_wrap{
	border: 1px solid #e1e1e1;
}
.map_subnav_title{
	width: 998px;
	height: 36px;
	background: #fafafa;
	border-bottom: 1px solid #e1e1e1;
}
.map_subnav_title>li, .map_subnav_tips>li{
	float: left;
	font-size: 16px;
	cursor: pointer;
}
.map_subnav_title>li{
	height: 16px;
	color: #000;
	border-right: 1px solid #cccccc;
	padding: 10px 40px;
	position: relative;	
}
.map_subnav_title>li i{
	width: 9px;
	height: 6px;
	display: inline-block;
	position: absolute;
	right: 15%;
	top: 15px;
	background: url(../img/arrow_down.png) no-repeat;
}
.map_subnav_title>li:hover{
	color: #4699f7;
}
.map_subnav_title>li:hover i{
	background: url(../img/arrow_down.png) left -6px no-repeat;
}
.map_subnav_title_subnav{
	border: 1px solid #e1e1e1;
	position: absolute;
	left: 0;
	top: 36px;
	display: none;
	z-index: 10;
}
.map_subnav_title_subnav>li{
	width: 100%;
	height: 45px;
	font-size: 16px;
	line-height: 45px;
	text-align: center;
	background: #fcfcfc;
	color: #000;
}
.map_subnav_title_subnav>li:hover{
	background: #4699f7;
	color: #fff;
}
.map_subnav_tips{
	width: 998px;
	padding: 20px 10px;
}
.map_subnav_tips:after{
	content: "";
	display: block;
	clear: both;
}
.map_subnav_tips>li{
	font-size: 14px;
	padding: 6px 13px;
	color: #ffffff;
	background: #cccccc;
	margin-left: 10px;
}
.map_subnav_tips li:hover{
	background: #4699f7;
}
#smm_map_echarts{
	width: 1000px;
	height: 500px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.smm_map_location{
	height: 40px;
	line-height: 40px;
	color: #969696;
}
.smm_map_location span{
	font-size: 14px;
}